<section id="footer">
  <!-- about us modal  -->

<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title font-weight-bold" id="exampleModalLabel">ABOUT US</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Hey! <em>SRMites.</em> As a thought elite once said <strong><i> ”Time is money”. </i></strong> With that said, think of the wave of human heads we have to shift through just to get hold of our favourite chicken roll.
           Brings down the vibe, right? Even the thought of standing in long queues and waiting to the 
           point where you’re not even hungry anymore brings a massive frown upon our faces. Well, fret
            not, because <i class="font-weight-fold text-uppercase">Flavourz 101</i> is just the solution for that. Order your favourite dishes from 
            your favourite shops, with just a click on your phone! Save yourself the time, save yourself
             the vibe. Get to choose from a diverse menu. If you’re a foodie and here to buy, 
             just tap away, don’t worry about registering. If you’re a vendor looking to sell,
              make sure to register first and add your menu, you don’t want your customers to
               miss out on anything!
        </p>
      </div>
      
    </div>
  </div>
</div>
<!-- end of about us modal -->

<!-- contact modal  -->

<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header border-bottom-0">
      <h4 class="modal-title font-weight-bold" id="exampleModalLabel">CONTACT US</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div><hr>
    <form>
      <div class="modal-body">
        <div class="form-group">
          <label for="email1">Email address</label>
          <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">Your information is safe with us.</small>
        </div>
        <div class="form-group">
          <label for="subject">Subject</label>
          <input type="text" class="form-control" id="subject" placeholder="Subject">
        </div>
        <div class="form-group">
          <label for="my-textarea">Message</label>
          <textarea id="my-textarea" class="form-control" name="" rows="3"></textarea>
        </div>
      </div>
      <div class="modal-footer border-top-0 d-flex justify-content-center">
        <button type="submit" class="btn orange">Submit</button>
      </div>
    </form>
  </div>
</div>
</div>
<!-- end of contact modal  -->

<!-- Work Modal -->
<div class="modal fade" id="workModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title font-weight-bold" id="exampleModalLabel">HOW IT WORKS</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pl-2">
        <ul class="ml-3 text-muted">
          <li>Our product basically has two sides i.e. the vendor side and the customer side.</li>
          <li>Currently there is no need for the customer to login. The users just have to enter. They can directly add the desired item in their cart by browsing the menu and the shops and proceed to checkout, where they’ll receive a unique Order-ID, record it i.e by taking a screenshot and simply show it to that particular shop.</li>
          <li>The sign in/ register option is only for vendors right now so that they can register their shops and edit their menu at any time.</li>
          <li>Vendors also have a different page  “Orders” where they can see the list of  orders they’ve received. Further they can mark the order as Pending or Success, depending upon whether the user has paid & collected the order or not. </li>
        </ul>

      </div>
      
    </div>
  </div>
</div>
<!-- end of work modal -->

<!-- rate us Modal -->
<div class="modal fade" id="rateUs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title font-weight-bold" id="exampleModalLabel">RATE US</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body py-5">
        <fieldset class="rating text-center">
            <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
            <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
            <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
            <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
            <p id="thanks"></p>
        </fieldset>
      </div>
      <div class="modal-footer text-center">
        <button class="btn orange" data-dismiss="modal">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
<!-- end of rateUs modal -->

<!-- main footer content  -->
      <footer class="footer-area footer--light">
          <div class="footer-big">
           
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-sm-12">
                  <div class="footer-widget">
                    <div class="widget-about text-center">
                      <img src="/images/Logo-101.png" alt="" class="img-fluid footer-logo">
                      <p><em class="font-weight-bold text-underline"><u>FlAVOURZ101</u></em> aims at providing the user with an application that displays various food stalls in the SRM-IST KTR campus.</p>
                      <ul class="contact-details">
                        <li>
                          <i class="fa fa-phone" aria-hidden="true"></i>
                          <a href="tel:9909000901">+91-9909000901</a>
                        </li>
                        <li>
                          <i class="fa fa-envelope" aria-hidden="true"></i>
                          <a href="mailto:support@flavourz101.com">support@flavourz101.com</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  
                </div>
                
                <div class="col-md-3 col-sm-4">
                  <div class="footer-widget">
                    <div class="footer-menu footer-menu--1">
                      <h4 class="footer-widget-title">Popular Category</h4>
                      <ul>
                        <li>
                          <a href="/shops#fshops">Featured Shops</a>
                        </li>
                        <li>
                          <a href="/shops#ffood">Featured Food</a>
                        </li>
                        <li>
                        
                          <a
                           href="/">Shops</a>
                        </li>
                        <li>
                          <a href="/menu">Menu</a>
                        </li>
                       
                      </ul>
                    </div>
                    
                  </div>
                  
                </div>
                
        
                <div class="col-md-3 col-sm-4">
                  <div class="footer-widget">
                    <div class="footer-menu">
                      <h4 class="footer-widget-title">Our Company</h4>
                      <ul>
                        <li>
                          <a href="#" data-toggle="modal" data-target="#aboutModal">About Us</a>
                        </li>
                        <li>
                          <a href="#" data-toggle="modal" data-target="#workModal">How It Works</a>
                        </li>
                        <li>
                          <a href="#" data-toggle="modal" data-target="#form">Contact Us</a>
                        </li>
                        <li>
                          <a href="#" data-toggle="modal" data-target="#rateUs">Rate Us</a>
                        </li>
                        <li>
                      </ul>
                    </div>
                    
                  </div>
                  
                </div>
               
        
                <div class="col-md-3 col-sm-4">
                  <div class="footer-widget">
                    <div class="footer-menu no-padding">
                      <h4 class="footer-widget-title">Help Support</h4>
                      <ul>
                        <li>
                          <a href="#">Support Forum</a>
                        </li>
                        <li>
                          <a href="#">Terms &amp; Conditions</a>
                        </li>
                        <li>
                          <a href="#">Support Policy</a>
                        </li>
                        <li>
                          <a href="#">FAQs</a>
                        </li>
                       
                      </ul>
                    </div>
                    
                  </div>
                 
                </div>
                
        
              </div>
              
            </div>
            
          </div>
         
        
          <div class="mini-footer">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="copyright-text">
                    <p>© 2020
                      <a href="#">Flavourz 101</a>. Created by
                      <a href="#">Team InWeb.</a>
                    </p>
                  </div>
                <% if(currentUser){ %> 
                  <div class="go_top">
                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                  </div>
                <% } %>

                </div>
              </div>
            </div>
          </div>
        </footer>
  </section>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="//code.jquery.com/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script>
      if("<%= typeof page !== 'undefined' ? page : '' %>"==="shops"){
          $("#home").addClass("current-page")
          $("#Lhome").addClass("current")
      }  
      else if("<%= typeof page !== 'undefined' ? page : '' %>"==="menu"){
          $("#menu").addClass("current-page")
          $("#Lmenu").addClass("current")
          
      } 
      else{
          $("#orders").addClass("current-page")
          $("#Lorders").addClass("current")
      } 
  </script>
  <script src="/js/nav.js"></script>
  <script src="/js/rawcdn.js"></script>
  <script src="/js/notify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="/js/<%= typeof page !== 'undefined' ? page : '' %>.js"></script>
</body>
</html>