  <section id="footer">
    <!-- about us modal  -->

<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title font-weight-bold" id="exampleModalLabel">ABOUT US</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          This project aims at providing the user with an application that displays various food stalls in the SRM-IST KTR campus. This application also has additional functionality that allows the user to view the menu of any of the food stalls and place an order online at that particular shop. The user can then visit the shop and pick up the order. Hence it saves the user’s time.
          The application also allows vendors to register themselves on the app and hence be open to online orders. Vendors can edit the menu from the app itself at any time after successful registration.

        </p>
      </div>
      
    </div>
  </div>
</div>
<!-- end of about us modal -->

<!-- contact modal  -->

<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h4 class="modal-title font-weight-bold" id="exampleModalLabel">CONTACT US</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div><hr>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label for="email1">Email address</label>
            <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Your information is safe with us.</small>
          </div>
          <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" id="subject" placeholder="Subject">
          </div>
          <div class="form-group">
            <label for="my-textarea">Message</label>
            <textarea id="my-textarea" class="form-control" name="" rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-center">
          <button type="submit" class="btn orange">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- end of contact modal  -->
        <footer class="footer-area footer--light">
            <div class="footer-big">
             
              <div class="container">
                <div class="row">
                  <div class="col-md-3 col-sm-12">
                    <div class="footer-widget">
                      <div class="widget-about">
                        <img src="images/Logo-101.png" alt="" class="img-fluid">
                        <p><em class="font-weight-bold text-underline"><u>FlAVOURZ101</u></em> aims at providing the user with an application that displays various food stalls in the SRM-IST KTR campus.</p>
                        <ul class="contact-details">
                          <li>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <a href="tel:9909000901">+91-9909000901</a>
                          </li>
                          <li>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <a href="mailto:support@flavourz101.com">support@flavourz101.com</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    
                  </div>
                  
                  <div class="col-md-3 col-sm-4">
                    <div class="footer-widget">
                      <div class="footer-menu footer-menu--1">
                        <h4 class="footer-widget-title">Popular Category</h4>
                        <ul>
                          <li>
                            <a href="#fshops">Featured Shops</a>
                          </li>
                          <li>
                            <a href="#ffood">Featured Food</a>
                          </li>
                          <li>
                            <a href="/">Shops</a>
                          </li>
                          <li>
                            <a href="/menu">Menu</a>
                          </li>
                          <li>
                            <a href="/orders">Orders</a>
                          </li>
                        </ul>
                      </div>
                      
                    </div>
                    
                  </div>
                  
          
                  <div class="col-md-3 col-sm-4">
                    <div class="footer-widget">
                      <div class="footer-menu">
                        <h4 class="footer-widget-title">Our Company</h4>
                        <ul>
                          <li>
                            <a href="#" data-toggle="modal" data-target="#aboutModal">About Us</a>
                          </li>
                          <li>
                            <a href="#">How It Works</a>
                          </li>
                          <li>
                            <a href="#" data-toggle="modal" data-target="#form">Contact Us</a>
                          </li>
                          <li>
                            <a href="#">Plan &amp; Pricing</a>
                          </li>
                          <li>
                        </ul>
                      </div>
                      
                    </div>
                    
                  </div>
                 
          
                  <div class="col-md-3 col-sm-4">
                    <div class="footer-widget">
                      <div class="footer-menu no-padding">
                        <h4 class="footer-widget-title">Help Support</h4>
                        <ul>
                          <li>
                            <a href="#">Support Forum</a>
                          </li>
                          <li>
                            <a href="#">Terms &amp; Conditions</a>
                          </li>
                          <li>
                            <a href="#">Support Policy</a>
                          </li>
                          <li>
                            <a href="#">FAQs</a>
                          </li>
                          <li>
                            <a href="#">Buyer's FAQ</a>
                          </li>
                          <li>
                            <a href="#">Seller's FAQ</a>
                          </li>
                        </ul>
                      </div>
                      
                    </div>
                   
                  </div>
                  
          
                </div>
                
              </div>
              
            </div>
           
          
            <div class="mini-footer">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="copyright-text">
                      <p>© 2020
                        <a href="#">Flavourz 101</a>. Created by
                        <a href="#">Team InWeb.</a>
                      </p>
                    </div>
          
                    <div class="go_top">
                      <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </footer>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
        if("<%= typeof page !== 'undefined' ? page : '' %>"==="shops"){
            $("#home").addClass("current-page")
            $("#Lhome").addClass("current")
        }  
        else if("<%= typeof page !== 'undefined' ? page : '' %>"==="menu"){
            $("#menu").addClass("current-page")
            $("#Lmenu").addClass("current")
            
        } 
        else if("<%= typeof page !== 'undefined' ? page : '' %>"==="orders"){
            $("#orders").addClass("current-page")
            $("#Lorders").addClass("current")
        } 
    </script>
    <script src="/js/nav.js"></script>
    <script src="/js/rawcdn.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="/js/<%= typeof page !== 'undefined' ? page : '' %>.js"></script>
</body>
</html>