<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
    />
    <!-- fontAwesome  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <!-- flickity carousel-->
    <link
      rel="stylesheet"
      href="https://npmcdn.com/flickity@2/dist/flickity.css"
    />
    <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>

    <!-- fonts  -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,100,300"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Raleway:100,400,700"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Oswald:200,400,700"
      rel="stylesheet"
    />

    <script src="https://use.fontawesome.com/20ab91acc4.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>Flavourz 101</title>
    <link rel="icon" href="" type="image/ico" />
    <link
      rel="stylesheet"
      href="/css/<%= typeof page !== 'undefined' ? page : '' %>.css"
    />

    <link rel="stylesheet" href="/css/nav.css" />
  </head>
  <body></body>
</html>
<section id="navigation"></section>
