<%- include("partials/header") %>

<!-- order confirmation   -->
<section id="confirmOrder">
  <div class="box">
    <div class="heading">
      <h4 class="text-center font-weight-bold">
        Order confirmed!
        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
      </h4>
      <hr />
      <div class="body text-center">
        <i class="fa fa-check-circle fa-5x"></i>
        <p>Your Order ID is: <strong id="orderID"><%= order._id %></strong></p>
        <p>You have to pay: <strong id="totalCost"><%= order.Total %></strong></p>
        <p class="note">*Please take a screenshot of your order ID.</p>
      </div>
    </div>
  </div>
</section>
<%- include("partials/footer") %>