@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital@1&display=swap");

#shops .owl-slider {
  margin-top: -30px;
}
#shops .welcomeUser {
  position: relative;
  margin-top: -50px;
}
#shops .welcomeUser hr {
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
}

#shops .container {
  padding: 1rem 0rem;
}
#shops #discountModal .modal-dialog {
  position: fixed;
  top: 0;
  right: auto;
  left: 0.95rem;
  /* bottom: 0; */
  margin-bottom: 0.5rem;
  min-width: 300px;
  max-width: 400px;
}
#shops #discountModal .modal-dialog .notice {
  padding: 0rem 1rem;
}
#shops #discountModal .modal-dialog .notice h4 {
  margin-bottom: 1.5rem;
}
#shops #discountModal .modal-dialog .notice p {
  margin-bottom: 0.5rem;
  font-size: 13px;
}
#shops #discountModal .modal-dialog .icon {
  font-size: 3rem;
  color: #ff9642;
}
#shops #discountModal .modal-dialog .orange {
  background-color: #ff9642;
  color: white;
  outline: none;
}
#shops .orange {
  background-color: #ff9642;
  color: white;
  margin: 0 10px;
}
#shops .heading {
  font-family: "Lobster", cursive;
  font-size: 40px;
}

.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}
.owl-dots {
  text-align: center;
  padding-top: 15px;
}

.owl-dots button.owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: rgb(94, 94, 94);
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.28) !important;
}
#shops .owl-slider span {
  font-size: 70px;
  position: relative;
  top: -5px;
}
#shops .owl-nav button:focus {
  outline: none;
}
#shops .owl-carousel .item img {
  min-width: 100%;
  height: 180px;
  min-height: 100px;
  cursor: pointer;
}
#shops .owl-carousel .item .details {
  position: relative;
  background-color: #ffcfa8;
  border-radius: 10px;
  margin-top: 3px;
  padding-top: 5px;
  cursor: pointer;
}
#shops .owl-carousel .item .details .buyNow {
  position: absolute;
  bottom: 10px;
  right: 0px;
}
#shops .owl-carousel .item .details .buyNow i {
  color: #000;
  font-size: 28px;
  background-color: #ff9642;
  padding: 5px 8px 9px 8px;
  border-radius: 50%;
  transition: 0.3s;
}
#shops .owl-carousel .item .details .buyNow i:hover {
  animation: ring 2s alternate;
  color: rgb(236, 236, 236);
}
@keyframes ring {
  0% {
    transform: rotate(25deg);
  }
  12.5% {
    transform: rotate(-20deg);
  }
  25% {
    transform: rotate(15deg);
  }
  37.5% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(5deg);
  }
  62.5% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
#shops .owl-carousel .owl-lazy {
  border-radius: 10px;
}
#shops .owl-carousel .item span {
  font-size: 16px;
  padding: 10px;
}
#shops .owl-carousel .item .details .name {
  font-size: 20px;
  font-weight: 900;
}
#shops .owl-carousel .item .details .shopName {
  padding: 0 10px 10px 10px;
  font-size: 14px;
  cursor: pointer;
}
#shops .owl-carousel .item .details .price {
  font-size: 18px;
}
@media (max-width: 500px) {
  #shops .owl-slider {
    max-width: 80% !important;
  }
}

/* shops layout */
#shops .btn {
  border: 0 none;
  outline: 0 none;
}
#shops .layout {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Arimo", sans-serif !important;
  font-size: 16px;
  /* line-height: 1.5em; */
  font-weight: 400;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#shops .layout .inner {
  max-width: 100%;
  padding: 0 0.5em;
  padding-top: 0.5em;
  transition: all 0.3s;
}
#shops .layout .grid {
  margin: 0 0 0 -0.5em;
  list-style-type: none;
  transition: all 0.3s;
}
#shops .layout .grid:before,
#shops .layout .grid:after {
  content: " ";
  display: table;
}
#shops .layout .grid:after {
  clear: both;
}
#shops .layout .grid-tile {
  width: 100%;
  position: relative;
  float: left;
  padding: 0 0 0.5em 0.5em;
  box-sizing: border-box;
  transform: scale(0.95);
  transition: all 0.3s;
}
#shops .layout .item {
  width: 100%;
  position: relative;
  overflow: hidden;
  /* background-color: #fff; */
  border-radius: 15px;
  box-sizing: border-box;
}
#shops .layout .item-img {
  width: 100%;
  border-radius: 10px;
  padding-bottom: 115%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#shops .layout .item-img:hover {
  cursor: pointer;
}
#shops .layout .item-img:active {
  cursor: pointer;
}
#shops .layout .item-pnl {
  /*position: relative;
  */
  width: 100%;
}
#shops .layout .pnl-wrapper {
  width: 100%;
  height: 60px;
  display: table;
  background-color: #ffcfa8;
  border-radius: 10px;
  margin-top: 3px;
}
#shops .layout .pnl-wrapper > div {
  display: table-cell;
  vertical-align: middle;
}
#shops .layout .pnl-description {
  position: relative;
  padding: 0;
  padding-left: 0.5em;
}
#shops .layout .pnl-label {
  color: #424346;
  letter-spacing: 2px;
  font-family: "Lobster", cursive;
  font-size: 39px;
  /* font-weight: 600; */
  overflow: hidden;
  display: block;
}
@media (max-width: 767px) {
  #shops {
    margin-top: 10px;
  }
  #shops .container.welcomeUser {
    margin-top: 1px;
  }
  #shops .heading {
    font-family: "Lobster", cursive;
    font-size: 35px;
  }
  #shops button.auth {
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  #shops button.auth {
    font-size: 13px;
  }
}
@media screen and (min-width: 320px) {
  #shops .layout .pnl-wrapper {
    height: 70px;
  }
  #shops .layout .pnl-label {
    font-size: 28px;
  }
  #shops .layout .pnl-description {
    padding-left: 1em;
  }
}
@media screen and (min-width: 360px) {
  #shops .layout .inner {
    padding: 0 1em;
    padding-top: 1em;
  }
  #shops .layout .grid {
    margin: 0 0 0 -1em;
  }
  #shops .layout .grid-tile {
    padding: 0 0 1em 1em;
  }
  #shops .layout .pnl-description {
    padding-left: 1.5em;
  }
  #shops .layout .pnl-wrapper {
    height: 70px;
  }
}
@media screen and (min-width: 480px) {
  #shops .layout .inner {
    padding: 0 0.5em;
    padding-top: 0.5em;
  }
  #shops .layout .grid {
    margin: 0 0 0 -0.5em;
  }
  #shops .layout .grid-tile {
    padding: 0 0 0.5em 0.5em;
  }
  #shops .layout .grid-tile {
    width: 50%;
  }
  #shops .layout .pnl-wrapper {
    height: 60px;
  }
  #shops .layout .pnl-description {
    padding-left: 0.5em;
  }
  #shops .layout .pnl-label {
    font-size: 25px;
  }
}
@media (max-height: 26em) {
  #shops .layout .pnl-wrapper {
    height: 48px;
  }
  #shops .layout .grid-tile {
    width: 33.3333%;
  }
  #shops .layout .pnl-label {
    font-size: 24px;
  }
}
@media screen and (min-width: 600px) {
  #shops .layout .inner {
    padding: 0 1em;
    padding-top: 1em;
  }
  #shops .layout .grid {
    margin: 0 0 0 -1em;
  }
  #shops .layout .grid-tile {
    padding: 0 0 1em 1em;
  }
  #shops .layout .pnl-wrapper {
    height: 70px;
  }
  #shops .layout .pnl-label {
    font-size: 22px;
  }
  #shops .layout .pnl-description {
    padding-left: 1em;
  }
}
@media screen and (min-width: 768px) {
  #shops .layout .inner {
    padding: 0 1.5em;
    padding-top: 1.5em;
  }
  #shops .layout .grid {
    margin: 0 0 0 -1.5em;
  }
  #shops .layout .grid-tile {
    padding: 0 0 1.5em 1.5em;
  }
}
@media screen and (min-width: 1024px) {
  #shops .layout .grid-tile {
    width: 33.3333%;
  }
}
@media screen and (min-width: 1300px) {
  #shops .layout .pnl-description {
    padding-left: 1.5em;
  }
}
@media screen and (min-width: 1440px) {
  #shops .layout .inner {
    width: 1400px;
    margin: 0 auto;
  }
}
